*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
        background-color: #000000; /* Black color in hexadecimal */
        color: #ffffff; /* White color for text */
      }
      

.nav-header{
    text-align: center;
    padding: 10px;
    /* border: 2px solid white; */
}

h1{
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
}

.quiz-app{
    height: 700px;
    width: 100%;
    background-color: rgb(73, 73, 170);

}

p{
    text-align: center;
    padding-top: 10px;
}