*{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 167);
}

h1{
    border: 2px solid white;
    height: 250px;
    /* width: 100%; */
    font-size: 13rem;
    letter-spacing: 0.2em;
    text-align: center;

}