*{
    margin: 0;
    padding: 0;
    background-color: #3C329A;
}

h1{
    height: 250px;
    font-size: 13rem;
    letter-spacing: 0.2em;
    text-align: center;
    color: #000000;
    opacity: 0.4;

}

.container{
    height: 15vh;
    background-color: #6758F6;
    width: 300px;
    margin: 5rem auto;
    border-radius: 10px;    
}